// Import all of Bootstrap’s CSS
@import "bootstrap/scss/bootstrap";

:root {
  --content-primary: #fff;
  --content-secondary: #98959d;
  --content-tertiary: #666;


  --bg-primary: #151515;
  --bg-secondary: #1e1e1e;
  --bg-tertiary: #23242c;
  --bg-brand: #9282fa;
  --bg-highlights: #bdb4fa;

  --border-primary: #3e3c41;
  --border-secondary: #86818c;
  --border-divisor: #353339; 

  
  --font-family: "Inter", sans-serif;
//    font-family: "Inter Tight", sans-serif;

    --ff-title: "Inter Tight", sans-serif;
}

body{
    background: var(--bg-primary);
    color: var(--content-primary);
}
a{
    text-decoration: none;
    color: var(--content-tertiary);
    font-size: 12px;
}
p, .txt-color-secondary{
    color:var(--content-secondary)
}
.txt-color-primary{
    color: var(--content-primary);
}
.text-medium{
    font-size: 14px;
}
.text-small{
    font-size: 12px;
    line-height: 16px;
}
.p-20{
    padding: 20px ;
}

h1{
    font-family: var(--ff-title);

}

button{
    width: 230px;
    height: 50px;
    background: #9282FA;
    box-shadow: 0px 0px 40px rgba(146, 130, 250, 0.3);
    border-radius: 8px;
    border: none;
    font-family: var(--ff-title);
}
input, textarea{
    background-color: transparent;
    color: var(--content-secondary);
}
input:focus, textarea:focus{
    outline: none;
}
textarea{
    background-color: transparent;
    border: 1px solid var(--border-primary);
    border-radius: 8px;
    padding: 12px;
}

div.btn-agendamento{
    background-color: #23242C;
}
div.logo{
    width: 153px;
    height: 48px;
    background: var(--border-primary);
    border-radius: 0px 0px 12px 0px;
  
}


@media (width >= 80em){
    div.container{
        max-width: 60%;
    }
    div.cabecalho{
        flex-direction: row!important;
        align-items: center;
        justify-content: space-between;
        margin-bottom:10px;
    }
    div.btn-agendamento{
        background-color: transparent;
        // align-items: flex-end!important;
        justify-content: flex-end!important;
        margin-top: -80px!important;
    }
    div.modal-content{

    padding-inline: 20px;
    }
    div.container-form-time-date{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}